# Server Configuration
PORT=5001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# PostgreSQL Database URL
DATABASE_URL="postgresql://username:password@localhost:5432/breathewise?sslmode=disable"

# Better Auth Configuration
BETTER_AUTH_SECRET="airtrace_super_secret_session_and_jwt_encryption_key_2026"
BETTER_AUTH_URL="http://localhost:5001"

# Google OAuth Credentials (ID & Google Login)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# External Ingestion & APIs
OPENAQ_API_KEY=""
NASA_FIRMS_MAP_KEY=""
MAPBOX_ACCESS_TOKEN=""

# AWS Bedrock AI Model Configuration
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_BEDROCK_MODEL_ID="anthropic.claude-3-haiku-20240307-v1:0"
