# Server Configuration
PORT=5001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# PostgreSQL Database URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/airtrace?schema=public"

# Better Auth Configuration
BETTER_AUTH_SECRET="airtrace_super_secret_session_and_jwt_encryption_key_2026"
BETTER_AUTH_URL="http://localhost:5001"

# Google OAuth Credentials (ID & Google Login)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# External Ingestion & APIs
OPENAQ_API_KEY=""
NASA_FIRMS_MAP_KEY=""
MAPBOX_ACCESS_TOKEN=""
